
#card{
    box-shadow: 2px 2px 2px 2px lightblue;
    float: left;
    margin-left: 80px;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 155px;
    border-radius: 8px;
}