#search{
    float: right;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    width: 240px;
    margin-top: -285px;
    margin-right: 40px;
}
#btn{
    background-color: darkblue;
    color: white;
}